@import '../../App.module.scss';

.menuItem {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  width: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .name {
      flex: 1;

      p {
        @extend %p__cormorant;
        color: var(--color-golden);
      }
    }

    .dash {
      width: 90px;
      height: 1px;
      background: var(--color-golden);
      margin: 0 1rem;
    }

    .price {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      p {
        @extend %p__cormorant;
      }
    }
  }

  .subInfo {
    margin-top: 0.2rem;
    width: 100%;

    p {
      @extend %p__opensans;
      color: var(--color-grey);
    }
  }
}
