@import '../../App.module.scss';

.aboutContainer {
  @extend %section__padding;
  @extend %flex__center;
  @extend %app__bg;
  position: relative;

  .aboutBackground {
    @extend %flex__center;
    position: absolute;
    inset: 0;

    img {
      width: 24rem;
      height: 26rem;
    }
  }

  .aboutContent {
    @extend %flex__center;
    width: 100%;
    z-index: 9;

    .aboutLeftContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      text-align: right;

      h1 {
        @extend %headtext__cormorant;
      }

      img {
        @extend %spoon__img;
      }

      p {
        @extend %p__opensans;
      }

      button {
        @extend %custom__button;
      }
    }

    .knife {
      @extend %flex__center;
      margin: 2rem 4rem;

      img {
        height: 56.875rem;
      }
    }

    .aboutRightContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;

      h1 {
        @extend %headtext__cormorant;
      }

      img {
        @extend %spoon__img;
      }

      p {
        @extend %p__opensans;
      }

      button {
        @extend %custom__button;
      }
    }

    .aboutLeftContainer,
    .aboutRightContainer {
      p {
        margin: 2rem 0;
        color: var(--color-grey);
      }
    }
  }
}

@media screen and (max-width: 2000px) {
  .knife img {
    height: 69.375rem;
  }

  .aboutLeftContainer,
  .aboutRightContainer {
    p {
      margin: 4rem 0;
    }
  }
}

@media screen and (max-width: 900px) {
  .aboutContent {
    display: flex;
    flex-direction: column;
  }

  .knife {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 650px) {
  .aboutBackground img {
    width: 80% !important;
    height: 320px !important;
  }
}
