@import '../../App.module.scss';

.header {
  @extend %app__wrapper;
  @extend %section__padding;
  background: var(--color-black);
  min-height: auto !important;

  .info {
    @extend %app__wrapper_info;
    h1 {
      font-family: var(--font-base);
      font-size: 5.625rem;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      line-height: 7.3125rem;
      color: var(--color-golden);
      margin: 1rem 0 2rem 0;
    }

    p {
      @extend %p__opensans;
      margin: 2rem 0;
    }

    button {
      @extend %custom__button;
    }
  }

  .img {
    @extend %app__wrapper_img;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 100%;
    padding: 2rem;
  }

  .h1 {
    font-size: 3.125rem !important;
    line-height: 4.0625rem !important;
  }
}
