.header {
  background: var(--color-black);
  height: calc(100vh - 4.685rem);
  min-height: auto;

  .h1 {
    font-family: var(--font-base);
    font-size: 5.625rem;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: 7.3125rem;
    color: var(--color-golden);
    margin: 1rem 0 2rem 0;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 100%;
    padding: 2rem;
  }

  .h1 {
    font-size: 3.125rem !important;
    line-height: 4.0625rem !important;
  }
}
